/* To be honest I don't know how to use bootstrap, and normally I use SASS */
/* This ended up as a pretty large file, but didnt really wanted to create a big file structure either  */
/* Also, I used different techniques like flex, grid, media queries, in order to match the mockup and make the app responsive  */
/* I tested as much as I could, and tried to match every detail, hopefully the result is not as far from expected */
/* Something that didnt work for me was the Helvetica Neue font, I think installation was needed in order to see it, but I think on MacOS should be there */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 65px auto 68px;
}

@media screen and (max-width: 766px) {
  body {
    grid-template-rows: 65px auto 196px;
  }
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
}

/* -------------------NAV --------------------------*/

.nav {
  height: 65px;
  padding-top: 20px;
  background-color: #004a80;
}

.nav .nav-content {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.nav .nav-content .user-options img {
  margin-right: 15px;
  cursor: pointer;
}

.nav .nav-content .logo {
  margin-left: 15px;
  width: 173px;
}

.nav .nav-content .logo img {
  width: 100%;
}

/*--------------------SEARCH-------------------- */

.search {
  background-color: #004a80;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 29px;
  padding: 30px 0 95px;
}

.search h1 {
  margin-top: 0;
  font-size: 52px;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
}

.search-description {
  font-weight: 300;
  margin: auto 25px;
}

.search-form {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: inline-block;
}

.search-form-email {
  color: black;
  width: 780px;
  height: 70px;
  padding: 22px 15px;
  border: none;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.search-form-email::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #9b9b9b;
  letter-spacing: 2px;
  line-height: 18px;
}

.search-form-error {
  display: none;
  background-color: #dc0015;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  width: 36%;
  padding: 4px;
  border-radius: 0 0 3px 3px;
}
.error {
  border: solid 3px #dc0015;
  border-radius: 3px 3px 0 0;
}
.search-form-submit {
  margin-left: 15px;
  width: 180px;
  height: 70px;
  border: none;
  background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
  border-radius: 6px;
  font-weight: 600;
  color: #004a80;
  letter-spacing: 1px;
  font-size: 24px;
}

.search-form-submit:hover {
  background-image: none;
  background-color: #f2da56;
}

.search-form-submit:focus {
  background-image: none;
  outline: none;
  background-color: #f6bc25;
}

.search-footer {
  max-width: 960px;
  margin: 30px auto 0;
  text-align: left;
}

.search-footer-text {
  margin-left: 15px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .search {
    padding: 30px 0 60px;
  }
  .search-form-email {
    width: 518px;
  }

  .search-form-error {
    width: 50%;
  }

  .search-footer {
    max-width: 710px;
  }
}

@media screen and (max-width: 766px) {
  .search {
    padding: 5px 0 40px;
  }
  .search h1 {
    font-size: 38px;
    margin: 10px 15px;
  }

  .search-form {
    margin: 18px auto;
    display: inline-block;
  }

  .search-description {
    font-size: 18px;
  }

  .search-form-email {
    display: block;
    width: 280px;
    height: 50px;
  }

  .search-form-submit {
    display: block;
    margin: 10px auto;
    height: 50px;
    width: 280px;
  }

  .search-form-error {
    width: 100%;
  }

  .search-footer {
    display: flex;
    align-items: flex-start;
    max-width: 280px;
    margin: 0 auto;
  }
}

.search-again {
  display: none;
  padding-top: 100px;
}

.search-again h2 {
  font-size: 52px;
  margin-bottom: 20px;
}

.search-again .search-form-submit {
  cursor: pointer;
}
.search-again .search-form-email {
  font-size: 22px;
}

@media screen and (max-width: 766px) {
  .search-again {
    padding-top: 35px;
  }
  .search-again h2 {
    font-size: 38px;
    line-height: 1;
  }
}

/*------SECONDARY SECTION----------*/

.secondary-section {
  text-align: center;
  padding: 40px 25px 60px;
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
}

.secondary-section h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 600;
  color: #004a80;
  letter-spacing: 0;
}

.secondary-section-text {
  margin: 0 auto 40px;
  font-size: 22px;
  color: #4a4a4a;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  max-width: 980px;
}

.secondary-section-boxes {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.secondary-section-box {
  width: 490px;
  display: grid;
  grid-template-columns: 90px 20px 380px;
  grid-template-rows: 26px 8px 78px;
}

.secondary-section-box .box-number {
  font-size: 48px;
  font-weight: 600;
  background-color: #004a80;
  background-repeat: no-repeat;
  background-position-y: bottom;
  text-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-section-box .box-title {
  font-size: 22px;
  color: #004a80;
  grid-column: 3/4;
  text-align: left;
  font-weight: 600;
}

.secondary-section-box .box-text {
  color: black;
  font-size: 18px;
  grid-row: 3/4;
  grid-column: 3/4;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .secondary-section {
    padding: 5px 25px 30px;
    background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  }

  .secondary-section-box {
    width: 347px;
    grid-template-columns: 63px 20px 264px;
    grid-template-rows: 24px 8px 96px;
  }
  .secondary-section-box .box-number {
    width: 63px;
    height: 63px;
    font-size: 33.6px;
  }
}

@media screen and (max-width: 766px) {
  .secondary-section-boxes {
    height: 1024px;
  }
  .secondary-section h2 {
    font-size: 38px;
  }
  .secondary-section-text {
    font-size: 18px;
  }
  .secondary-section-box {
    width: 284px;
    grid-template-columns: 50.4px 10.6px 223px;
    grid-template-rows: 24px 8px 120px;
  }
  .secondary-section-box .box-number {
    width: 50.4px;
    height: 50.4px;
    font-size: 26.88px;
  }
  .secondary-section-box .box-text {
    font-size: 16px;
  }
}
/*------SPINNER----------*/
.spinner {
  min-height: 350px;
  background-color: #f8f8f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner-image {
  width: 154px;
}

.spinner-image img {
  width: 100%;
}

.spinner-text {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  color: #004a80;
  letter-spacing: 0;
  text-align: center;
}

/*------NO RESULTS----------*/

.results {
  display: none;
  margin-top: 25px;
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.results-numbers {
  margin-bottom: 15px;
  font-size: 52px;
  font-weight: 600;
  color: #004a80;
}

.results-text {
  font-size: 24px;
  color: #000000;
}

.person-card {
  margin: 30px 20px 60px;
  padding: 15px 50px 15px 25px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  height: 412px;
  max-width: 980px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 33% 33% 33%;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 26px;
}

.person-card-title {
  color: #004a80;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.person-card-title-small {
  color: #004a80;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.person-card-image {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  background-color: #004a80;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-card-image img {
  width: 40px;
}

.person-card-name {
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: center;
}
.person-card-address {
  grid-column: 2/3;
  grid-row: 2/3;
}
.person-card-phone {
  grid-column: 3/4;
  grid-row: 2/3;
  color: #004a80;
}
.person-card-email {
  grid-column: 2/3;
  grid-row: 3/4;
}
.person-card-relatives {
  grid-column: 3/4;
  grid-row: 3/4;
}

@media screen and (max-width: 1024px) {
  .results-text {
    font-size: 20px;
  }

  .person-card {
    font-size: 16px;
  }

  .person-card-image {
    width: 63px;
    height: 63px;
    margin-bottom: 30px;
  }
  .person-card-image img {
    width: 28px;
  }
}

@media screen and (max-width: 766px) {
  .results-text {
    font-size: 18px;
    margin: 0 20px;
  }
  .person-card {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    height: 600px;
  }
  .person-card-image {
    display: none;
  }
}

/*------FOOTER----------*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
}

.footer-wrapper {
  max-width: 1280px;
  margin: 14px auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 15px;
  color: #999999;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
}

.footer-links {
  padding: 14px;
  font-size: 14px;
  color: #004a80;
  margin-left: 120px;
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .footer-links {
    margin-left: 40px;
    padding: 25px 0;
  }
}

@media screen and (max-width: 766px) {
  .footer {
    height: 196px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    margin: 14px 15px;
  }
  .footer-links {
    margin-left: 0;
    padding: 7px 0;
  }
}

/*------GENERAL----------*/

.gold {
  color: #f6bc25;
}
